<hr>
<div class="footer-container">
  <div class="footer-logos">
    <a class="logo" href="/"><img src="{{ url_for('static', filename='img/github_logo.png') }}" alt="github link"></a>
    <a class="logo" href="/"><img src="{{ url_for('static', filename='img/linkedin_logo.png') }}" alt="linkedin link"></a>
    <a class="logo" href="/"><img src="{{ url_for('static', filename='img/vettery_logo.png') }}" alt="vettery link"></a>
  </div>
  <p class="footer-copyright">Page Design <span>&#169;</span>2020 - Louis Reilly-Willhight</p>
</div>